

body, html {
  font-family: "PT-serif", sans-serif;
  height: 100%;
  background-color: #597487;
}

#text-type {
  color: black;
  font-family: monospace;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bolder;
  opacity: .8;
  text-align: center;
}

#show-button {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  opacity: .5;
  color: white;
  border: 3px solid #a3b7c6;
  padding: 10px;
  display: none;
}
@media (max-width: 600px) {
  #show-button {
    top: 65%;
  }
  .flexer, .flexer2 {
    flex-direction: column;
  }
  #multi-label {
    font-size: 16px;
    width: 70%;
  }
  #web-build-title, #web-build-title-2 {
    font-size: 16px;
  }
  .icon1 {
    left: 33% !important;
  }
  .icon2 {
    left: 44% !important;
  }
  .icon3 {
    left: 55% !important;
  }
  .contact {
    width: 30px !important;
  }

}
.first {
  margin-top: 15%;
}
#show-button:hover {
  cursor: pointer;
  opacity: .8;
}
.contact {
  width: 50px;
  top: 90%;
  /*transform: translateX(-50%);*/
  position: absolute;
  transition: all .5s;
}
.footer-contacts {
  width: 40px;
  /*transform: translateX(-50%);*/
  position: absolute;
  margin-top: 2%;
  margin-bottom: 2%;
  transition: all .5s ease;
}
.contact:hover, .footer-contacts:hover, .contact-icon-about:hover {
  transform: scale(1.2);
}
.footer-icons {
  display: none;
  height: 10%;
}
.icon1 {
  right: 40px;
}
.icon2 {
  right: 130px;
}
.icon3 {
  right: 220px;
}
.contact-icon {
  width: 2.5%
}
.footer {
  background: white;
}
.intro {
  display: none;
}

.pre-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.flexnation {
  background-size: cover;
  height: 100%;
  display: flex;
}
@media (max-width: 700px) {
  .flexnation {
    flex-direction: column;
  }
  .flexicle {
    width: 100%;
  }
  .flexicles {
    width: 90% !important;
    margin: 0 auto;
  }
}
.flexicle {
  width: 40%;
}
.flexicles {
  width: 60%;
  text-align: center;
}

.picture {
  width: 20em;
  height: 20em;
  margin-left: 25%;
  margin-top: 25%;
  background: black;
  border-radius: 15%;
  border: 8px solid black;
  background: url("../img/prof-pic.jpg");
  background-size: cover;
  -webkit-transition: -webkit-transform 1.3s ease-in-out;
  transition: transform 1.3s ease-in-out;
}
.picture:hover {
  transform: rotate(20deg);
}

.about-text {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}

#fader {
  display: none;
}
.fading {
  display: none;
}

.front-page {
  height: 100%
}

.mini-pic {
  max-width: 30px;
}

h1 {
    font-family: monospace;
    font-size: 3em;
    margin-bottom: 0;
}

h2 {
  font-family: monospace;
  margin-top: 5%;
  margin-bottom: 0;
}

h3 {
  margin-top: 1%;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: black;
}

div {
}

#navigation {
  font-size: 2vw;
  line-height: 1;
  position: fixed;
  top: 30px;
  right: 1%;
  box-shadow: 1px 1px 1px #888888;
  background-color: #b9e5bf;
  padding: 20px;
  padding-left: 23px;
  padding-bottom: 30px;
  border-radius: 7px;
  z-index: 1;
  display: none;
}
#nav-click {
  position: fixed;
  top: 30px;
  right: 2%;
  z-index: 1;
  color: black;
  font-size: 30px;
}
#nav-click:hover {
  cursor: pointer;
}


.nav-text {
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flexer {
  display: flex;
  margin-top: -18px;
}
.flexer2 {
  display: flex;
}
.flexy {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.flex-image {
  max-width: 100%;
}
.flex-image:hover {
  transform: scale(1.05);
  transition: 2s ease;
  cursor: pointer;
}
.description {
  display: none;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  padding: 3px 7px 3px 7px;
  font-size: 1.3em;
  border-radius: 7px;
  color: white
}
.label-link {
  z-index: 1;
}

.flex-item {
  display: flex;
  border: 2px black solid;
  border-radius: 2px;
  align-items: center;
  max-width: 20%;
  padding: 4px;
}

#prof-pic {
  max-width: 200px;
  margin-left: 50px;
}

.contact-icon-about {
  width: 40%;
  margin-top: 5%;
  display: inline;
  transition: all .5s ease;
}

.about-icons {
  display: flex;
margin: 0 auto;
justify-content: center;
margin-bottom: 50px;
}

.label-link:hover {
   text-decoration: none;
   border: black solid 2px;
   border-radius: 7px;
}

#apocaD {
  border-left: black solid 2px;
}
#weirdD {
  border-left: black solid 2px;
}
#web-build-title, #personal-projects-title, #web-build-title-2 {
  display: none;
}

#crowD {
  margin-left: 9000;
}
#kimberlingD {
  margin-right: 9000;
}
#multi-label {
  visibility: hidden;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  /*width: 37%;*/
  /*top: 1181px;*/
  /*z-index: 100;*/
  background-color: black;
  color: white;
  padding: 7px 11px 7px 11px;
  border-radius: 8px;
  text-align: center;
}
#web-build-title, #web-build-title-2 {
  text-align: center;
  margin-bottom: 50px;
}
#web-build-title span, #web-build-title-2 span {
  background-color: black;
  color: white;
  padding: 7px 11px 7px 11px;
  border-radius: 8px;
}
