

body, html {
  font-family: "PT-serif", sans-serif;
  height: 100%;
  margin: 0px;
  background-color: white;

}

.front-page {
  background-image: url("../img/pre-header-path.jpg");
}

#pre-header {
  color: black;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2vw;
  font-weight: bolder;
  padding: 50px;
  border-radius: 7px;
  background-image: url("../img/vintage-background.jpg");
  box-shadow: 10px 10px 5px #888888;
}

.pre-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.img-one {
  background-image: url("../img/pat-social1.jpg");
  max-width: 100%;
  background-repeat: no-repeat;
}

.img-two {
  background-image: url("../img/pat-tennis1.jpg");
  max-width: 100%;
  background-repeat: no-repeat;
}

.img-three {
  background-image: url("../img/forest.jpeg");
  max-width: 100%;
  background-repeat: no-repeat;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.mini-pic {
  max-width: 30px;
}


.proj-sub-head {
  padding-right: 10px;
  font-size: .8em;
  opacity: .7;
}

h1 {
    font-family: monospace;
    font-size: 3em;
    margin-bottom: 0;
}

h2 {
  margin-top: 5%;
  margin-bottom: 0;
}

h3 {
  margin-top: 1%;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: black;
}

div {
  box-shadow: 0 0 15px 15px white inset;
}

.general-work {
  background-image: url("../img/portland.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#navigation {
  font-size: 2vw;
  line-height: 1;
  position: fixed;
  bottom: 30px;
  right: 1%;
  box-shadow: 10px 10px 5px #888888;
  background-image: url("../img/falcon.jpg");
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
  padding: 20px;
  padding-left: 23px;
  padding-bottom: 30px;
  border-radius: 7px;
  z-index: 1;
}

.nav-text {
  color: white;
}

.logo-card {
  padding: 15px;
}
.logo-card2 {
  padding: 30px;
}
.logo-card:hover {
  background-color: orange;
}
.logo-card2:hover {
  background-color: orange;
}
.logo-card img {
  max-width: 180px;
}
.logo-card2 img {
  max-width: 180px;
}

.card-holder {
  display: flex;
  padding-top: 30px;
  align-items: center;
  justify-content: space-between;
}

#prof-pic {
  max-width: 200px;
  margin-left: 50px;
}

.classy {
  border: 10px solid black;
  border-radius: 10px;
  content: url("../img/prof-pic.jpg");
}

.goofy {
  padding: 10px;
  background-color: orange;
  content: url("../img/IMG_0281.JPG");
}
.prof-text {
  padding-left: 30px;
  text-align: left;
}
#top {
  top: 5px;
  right: 10px;
  position: fixed;
  font-size: 1.5vw;
}

.text {
  padding: 1% 15% 3% 15%;
  line-height: 1;
}

.text {
  padding: 1% 5% 3% 5%;
  line-height: 1.5;
  font-size: 1.2em;
}

.screen-shots {
  max-width: 90%;
}

.item {
  min-height: 374px;
}

#work-his {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}

hr {
  margin: 5% 0 5% 0;
}

i {
  font-size: 5vw;
}

.project-images {
  border: 1px solid grey;
  max-width: 19%;
}

.project-images:hover, .current-image:hover {
  cursor: pointer;
}

.app-links {
  color: blue;
}

.projects-text {
  max-height: 372px;
  overflow: scroll;
  background-image: url("../img/vintage-background.jpg");
  background-position: center;
}
.projects-images {
}

#photo-display img {
  max-width: 100%;
}

.contact-icon {
  width: 2.5%;
}
